<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </a>
      <a *ngIf="authority === 'OPERATOR'" mat-button [routerLink]="'/test'"> Test </a>
      <a *ngIf="authority === 'OPERATOR'" mat-button [routerLink]="'/operator'"> Candidates </a>
      <a *ngIf="authority == 'ADMIN'" mat-button [routerLink]="'/createAccount'"> Create Operator </a>
      <a *ngIf="authority == 'ADMIN'" mat-button [routerLink]="'/admin'"> Operators </a>
      <a *ngIf="!authority"mat-button [routerLink]="'auth/login'"> Login </a>
      <a *ngIf="authority"mat-button [routerLink]="'/settings'"> Settings </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>
