.login-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-actions {
  text-align: center;
}

.mat-form-field-infix {
  text-align: center;
}

table {
  text-align: center !important;
  width: 100%;
}
